{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="container">
    <section class="contacto">
        <div class="contacto-div">
            <div class="info">
                <p class="titulo">Nombre</p>
                <p class="dato">José David Góngora Olmedo</p>
            </div>
            <div class="info">
                <p class="titulo">Carné</p>
                <p class="dato">202201444</p>
            </div>
            <div class="info">
                <p class="titulo">Curso</p>
                <p class="dato">Introducción a la Programación y Computación 2 "D"</p>
            </div>
            <div class="info">
                <p class="titulo">Carrera</p>
                <p class="dato">Ingenieria en Ciencias y Sistemas</p>
            </div>
            <div class="info">
                <p class="titulo">Semestre</p>
                <p class="dato">4to Semestre</p>
            </div>
            <div class="info">
                <p class="titulo">Documentación</p>
                <p class="link-doc"><a class="a-link" href="https://drive.google.com/file/d/1Wh73zpM966gI4tKK7L1f3C9w17GPGBCN/view?usp=sharing" target="_blank">Link documentación del proyecto 3</a></p>
            </div>
        </div>
    </section>
    <!-- <section class="documentacion">
        <p>Lolo</p>
    </section> -->
</div>

{% endblock %}