{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main - Proyecto 3</title>
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- <ul class="main-nav">
                <li class="nav-item"><a href="/">Archivos de entrada</a></li>
                <li class="nav-item"><a href="/menciones">Menciones</a></li>
                <li class="nav-item"><a href="/hashtags">Hashtags</a></li>
                <li class="nav-item"><a href="/sentimientos">Sentimientos</a></li>
                <li class="nav-item"><a href="/graficas">Graficas</a></li>
            </ul> -->
            <div id="nav-bar">
                <a id="mainpage-link" class="{% if request.path == '/proyecto3/' %}active{% endif %}" href="{% url 'MainPage' %}">Archivos de entrada</a>
                <a id="menciones-link" class="{% if request.path == '/proyecto3/menciones' %}active{% endif %}" href="{% url 'Menciones' %}">Menciones</a>
                <a id="hashatags-link" class="{% if request.path == '/proyecto3/hashtags' %}active{% endif %}" href="{% url 'Hashtags' %}">Hashtags</a>
                <a id="sentimientos-link" class="{% if request.path == '/proyecto3/sentimientos' %}active{% endif %}" href="{% url 'Sentimientos' %}">Sentimientos</a>
                <a id="graficos-link" class="{% if request.path == '/proyecto3/graficas' %}active{% endif %}" href="{% url 'Graficas' %}">Graficas</a>
                <a id="ayuda-link" class="{% if request.path == '/proyecto3/ayuda' %}active{% endif %}" href="{% url 'Ayuda' %}">Ayuda</a>
            </div>
        </nav>
        <button id="btnini" class="btninicializar">Inicializar sistema</button>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p class="p-footer">José Góngora |</p>
        <a class="a-footer" href="https://github.com/josed-go" target="_blank"><i class="fa fa-github icono" style="font-size:24px"></i></a>
        <a class="a-footer" href="https://github.com/josed-go" target="_blank">josed-go</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#btnini").click((e) => {
                e.preventDefault()
                var form = new FormData()
                var csrfToken = $("input[name = 'csrfmiddlewaretoken']").val()
                form.append('csrfmiddlewaretoken', csrfToken)
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/limpiarDatos",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: (response) => {
                        alert(response.message)
                    },
                    error: (xhr, status, error) => {
                        alert("Error: " + error)
                    }
                })
            })

        })
    </script>
</body>
</html>